<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue.js Todo App</title>
</head>

<body>
    <div id="app">
        {{ message }}
        <h1>Todos</h1>
        <ul v-show="showTodos">
            <li v-for="todo in todos">
                {{ todo.title }}
            </li>
        </ul>
        <p v-else>
          No Todos for you today
        </p>
        <p>
            Checked {{ showTodos }}
            <input type="checkbox" v-model="showTodos">
        </p>
        <p>
          <input type="text" v-model="todoText" v-on:keyup.enter="createTodo" v-on:keyup.esc="clearTodo">
        </p>
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
